<h1>Admin Dashboard</h1>

<h3>Send Blog Post Notifications</h3>

<% @posts.each do |post| %>
	<div class="mb-3">
		<%= post[:title] %>
		<%= button_to "Notify Subscribers", send_notification_email_path(file_name: post[:file_name]), method: :post, class: "btn btn-sm btn-primary" %>
	</div>
<% end %>

<h3>Send Decision Tree Notifications</h3>
<% @decision_trees.each do |post| %>
	<div class="mb-3">
		<%= format_file_title(post) %>
		<%= button_to "Notify Subscribers", decision_tree_send_notification_email_path(file_name: post), method: :post, class: "btn btn-sm btn-primary" %>
	</div>
<% end %>

