<header class="container text-center my-5">
	<h1>New Blog Post</h1>
</header>

<div class="post-content">
	<%= render 'form', blog_post: @blog_post %>

	<center>
		<%= link_to 'Back', blog_posts_path %>
	</center>
</div>
