<header class="container text-center my-5">
	<h1>Fraud Simulator Cases</h1>
	<p class="lead">Select a Decision Tree</p>
</header>

<div class="container py-5">
  <div class="row g-4"> <!-- Bootstrap grid with spacing -->
    <% @json_files.each do |file| %>
      <div class="col-md-4">
        <div class="card p-4">
          <h3 class="card-title"><b><%= format_file_title(file) %></b></h3>
          <p class="card-description">
          </p>
		  <%= link_to 'Read More', decision_tree_show_path(file_name: File.basename(file, ".json")) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
