<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="font-family: sans-serif; background-color: #f8f9fa; padding: 20px;">
		<div style="max-width: 600px; margin: auto; background: white; border-radius: 6px; padding: 30px;">
			<h2 style="color: #333333;">New Blog Post Published</h2>
			<p>Hi there!</p>
			<p>Check out my latest post: <strong><%= @blog_post.title %></strong>
			<p><%= @blog_post.excerpt %></p>
			<p>Check it out here: 
				<a href="<%= blog_post_url(@blog_post.id) %>" style="color: #007bff;">
					<%= blog_post_url(@blog_post.id) %>
				</a>
			</p>

			<p>Thank you,</p>
			<p>Trevor Balthrop</p>
		</div>
	</body>
</html>


