<style>
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #E6E6FA; /* matches your label color */
  font-weight: 600;
  font-size: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.form-control:focus {
  outline: none;
  border-color: #8caa7f;
  box-shadow: 0 0 0 2px #8caa7f;
}

.form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-inline-label {
  margin-right: 1rem;
  color: #E6E6FA;
  min-width: 120px;
}

.form-inline-input {
  background-color: #1B1F3B;
  border: 1px solid #a3c293;
  color: #E6E6FA;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  flex: 1;
}

.form-inline-checkbox {
  margin-right: 0.5rem;
}

.form-inline-checkbox-label {
  color: #E6E6FA;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.custom-checkbox {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  color: #E6E6FA;
  font-size: 1rem;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-style {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1.2rem;
  width: 1.2rem;
  background-color: #1B1F3B;
  border: 2px solid #a3c293;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.custom-checkbox input:checked + .checkbox-style {
  background-color: #a3c293;
  box-shadow: inset 0 0 0 3px #1B1F3B;
}

.checkbox-style::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkbox-style::after {
  display: block;
}

.custom-checkbox .checkbox-style::after {
  left: 0.35rem;
  top: 0.1rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid #1B1F3B;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
</style>

<header class="container text-center my-5">
	<h1>Email Preferences</h1>
</header>

<div class="container my-5 text-light">
	<div class="card p-5 rounded shadow" style="background-color: #0A192F; border: none;">
		<h4>Please select your email preferences:</h4>
		<%= form_with model: @user, url: user_path(@user), method: :patch, data: { turbo: false } do |f| %>
		  <div class="form-group-inline">
			<label class="custom-checkbox">
				<%= f.check_box :notify_fraud_simulators, class: "hidden-checkbox" %>
				<span class="checkbox-style"></span>
				Notify me of new fraud simulators
			</label>
		  </div>

		  <div class="form-group-inline">
			<label class="custom-checkbox">
				<%= f.check_box :notify_blog_posts, class: "hidden-checkbox" %>
				<span class="checkbox-style"></span>
				Notify me of new blog posts
			</label>
		  </div>

		  <div class="mb-4">
			<%= f.submit "Update Preferences", class: "btn btn-lg px-5", style: "background-color: #a3c293; color: #2A2D43;" %>
		  </div>
		<% end %>
	</div>
</div>
