<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Trevor's Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
		<%= link_to "Home", root_path, class: "nav-link" %>
		<%= link_to "About", pages_about_path, class: "nav-link" %>
		<%= link_to "Posts", posts_index_path, class: "nav-link" %>
      </ul>
    </div>
  </div>
</nav>
