<style>
	.btn {
		text-decoration: none !important;
	}

	.about-me {
		text-indent: 20px;
	}
</style>

<header class="container text-center my-5">
    <h1 class="fw-bold text-uppercase">HEY THERE, I'M TREVOR</h1>
	<p class="lead">Resourceful, Investigator, Multidisciplinary</p>
	<%= link_to "Posts", posts_index_path, class: "btn btn-primary btn-lg" %>	
</header>

<div class="container py-5">
    <p class="lead mt-3 about-me">
		Hey there! I’m Trevor Balthrop, a Fraud Operations Analyst and Trust & Safety expert with more than a decade of experience in specialized investigations. My career has taken me through industry leaders like Google, Square, DoorDash, and Golden 1 Credit Union, where I have developed a deep understanding of fraud detection, policy enforcement, and compliance.
	</p>
    <p class="lead mt-3 about-me">
		My specialties include financial fraud investigationswu AML/KYC compliance, chargeback disputes, and account monitoring, as well as specialized investigations involving complex cases that require advanced analytical skills, decision-making, and investigative techniques. In my free time time, I apply Python and SQL for data analysis, exploring patterns and anomalies to enhance fraud detection. I also familiarize myself with tools like LexisNexis to strengthen investigative techniques. I have worked closely with legal teams, law enforcement, and regulatory bodies to protect both businesses and consumers.
	</p>
    <p class="lead mt-3 about-me">
		I am very passionate about data-driven decision-making and enhancing fraud prevention strategies to build safer, efficient, more trustworthy systems. Whether I am analyzing suspicious activity, speeding up a process, leading high-level investigations, or improving trust and safety frameworks. My focus is always on protecting financial integrity and ensuring compliance. 
	</p>
    <p class="lead mt-3 about-me">
		With over ten years of experience deep in the field. Here in this blog I will bring to you my thoughts and experiences in the industry of digital crime. The world of fraud as I see it. 
    </p>
</div>
