
<header class="container text-center my-5">
    <h1 class="fw-bold text-uppercase">Hi, I'm Trevor</h1>
	<p class="lead">Analytical, detail-oriented, and ethical</p>
</header>

<div class="container py-5">
    <p class="lead mt-3 about-me">
        I have worked in the fraud industry for several years, specializing in risk assessment, fraud prevention, and data analysis. My expertise lies in identifying suspicious activity, mitigating risks, and implementing strategies to protect businesses and consumers. With a keen eye for detail and a commitment to integrity, I strive to stay ahead of evolving threats in the digital landscape.
    </p>
</div>
