$primary-color: #a3c293; 
$secondary-color: #6D6875;
$text-color: #E6E6FA;
$accent-color: #B5838D;
$link-color: #7a9a6f; 
$link-hover-color: #8caa7f; 
$background-color: #2A2D43;

$form-background: #0A192F;
$button-contrast-color: #1B1F3B;
$body-background-color: #1B1F3B;
$header-background-color: #222547;

