$primary-color: #B5838D;
$secondary-color: #6D6875;
$text-color: #E6E6FA;
$accent-color: #B5838D;
$link-color: #9A8C98;
$link-hover-color: #6D6875; // lighten($link-color, 10%);
$background-color: #2A2D43;
$form-background: #0A192F;

