@use './colors' as colors;

/* Buttons */
.btn-primary {
  background-color: colors.$primary-color !important; /* Warm Dusty Rose */
  border-color: colors.$primary-color !important;
  color: colors.$button-contrast-color !important; /* Contrast against background */
}

.btn-primary:hover {
  background-color: colors.$link-hover-color !important; /* Deep Gray-Purple */
  border-color: colors.$link-hover-color !important;
  transition: background-color 0.3s ease-in-out;
}


