@use './colors' as colors;

/* Cards */
.card {
  background-color: colors.$background-color !important; /* Darkened Blue-Gray */
  color: colors.$text-color !important; /* Soft Lavender */
  border: 1px solid colors.$link-hover-color; /* Deep Gray-Purple */
}

.card-link {
  color: colors.$link-color; /* Muted Mauve */
}

.card-link:hover {
  color: colors.$link-hover-color; /* Deep Gray-Purple */
  transition: color 0.3s ease-in-out;
}
