/* Cards */
.card {
  background-color: #2A2D43 !important; /* Darkened Blue-Gray */
  color: #E6E6FA !important; /* Soft Lavender */
  border: 1px solid #6D6875; /* Deep Gray-Purple */
}

.card-link {
  color: #9A8C98; /* Muted Mauve */
}

.card-link:hover {
  color: #6D6875; /* Deep Gray-Purple */
  transition: color 0.3s ease-in-out;
}
