$primary-color: #0A192F;
$secondary-color: #2E2E2E;
$text-color: #D3D3D3;
$accent-color: #D72638;
$link-color: #0077B6;
$link-hover-color: lighten($link-color, 10%);
$background-color: #121212;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background: $primary-color;
  color: $text-color;
  padding: 1.5rem;
  text-align: center;
}

  .navbar-nav .nav-item {
    margin-right: 15px;  /* Adjust the space between links */
  }

  .nav-link, .navbar-nav, .navbar-brand {
    color: white !important;  /* Ensure links are white */
    font-weight: bold;
	text-decoration: none !important; /* remove underline */
  }

  .nav-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;  /* Lighten on hover */
  }

h1 {
  color: white;
  font-size: 2rem;
}

h3, .card-title {
  color: $accent-color;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.about-me {
	text-indent: 30px;
	line-height: 1.5;
}

.post-content, p {
	text-indent: 1.5em; /* Indents first line like a paper */
	margin-bottom: 1rem; /* Adds spacing between paragraphs */
	line-height: 1.8; /* Improves readability */
}

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

div {
  background: $secondary-color;
  padding: 1rem;
  border-radius: 5px;
}

.link_to {
  color: $link-color;
  font-weight: bold;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $accent-color;
  }
}

.post-content {
    background: #2E2E2E; /* Dark gray background */
    color: #D3D3D3; /* Light gray text */
    padding: 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 1.8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    width: 100%; /* Full width */
    max-width: 1200px; /* Matches large screens */
    margin: 20px auto; /* Centering */
}

  .footer {
    background-color: #333; /* Dark background for footer */
    color: white;
    padding: 20px 0;
    font-size: 14px;
    margin-top: auto; /* Pushes the footer to the bottom */
  }

  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer p {
    margin: 0;
  }

  .footer-link {
    color: #1a73e8; /* Link color */
    text-decoration: none;
    font-weight: bold;
    padding: 0 8px;
    transition: color 0.3s ease;
  }

  .footer-link:hover {
    color: #155ab0; /* Slightly darker blue on hover */
  }

  .footer-link:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.5); /* Focus outline for accessibility */
  }

.card-link {
	transition: background-color 0.3s ease, color 0.3s ease;
}

.card-link:hover {
	text-decoration: none;
	color: #ADD8E6;
}
