/* General Styles */
html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

body {
  background-color: #1B1F3B; /* Deep Twilight Blue */
  color: #E6E6FA; /* Soft Lavender */
  font-family: 'Arial', sans-serif;
}

header {
  background: #222547;
  padding: 1.5rem;
  text-align: center;
  border-radius: 6px;
 
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  background-color: #222547 !important; /* Darkened Blue-Gray */
  border-bottom: 2px solid #6D6875; /* Deep Gray-Purple */
}

.navbar-brand, .nav-link {
  color: #E6E6FA !important; /* Soft Lavender */
  text-decoration: none;
}

.nav-link:hover, .navbar-brand:hover {
  color: #9A8C98 !important; /* Muted Mauve */
  transition: color 0.3s ease-in-out;
}

/* Footer */
.footer {
  background-color: #222547; /* Darkened Blue-Gray */
  color: #E6E6FA;
  padding: 20px 0;
  text-align: center;
}

