@use './colors' as colors;

/* General Styles */
html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

body {
  background-color: colors.$body-background-color; /* Deep Twilight Blue */
  color: #E6E6FA; /* Soft Lavender */
  font-family: 'Arial', sans-serif;
}

header {
  background: colors.$header-background-color;
  padding: 1.5rem;
  text-align: center;
  border-radius: 6px;
 
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  background-color: colors.$header-background-color !important; /* Darkened Blue-Gray */
  border-bottom: 2px solid colors.$link-hover-color; /* Deep Gray-Purple */
}

.navbar-brand, .nav-link {
  color: colors.$text-color !important; /* Soft Lavender */
  text-decoration: none;
}

.nav-link:hover, .navbar-brand:hover {
  color: colors.$link-color !important; /* Muted Mauve */
  transition: color 0.3s ease-in-out;
}

/* Footer */
.footer {
  background-color: colors.$header-background-color; /* Darkened Blue-Gray */
  color: colors.$text-color;
  padding: 20px 0;
  text-align: center;
}

