@use './colors' as colors;

/* Links */
a {
  color: colors.$link-color; /* Muted Mauve */
  text-decoration: none;
}

a:hover {
  color: colors.$link-hover-color; /* Deep Gray-Purple */
  transition: color 0.3s ease;
  text-decoration: none;
}

