/* Styling pertaining to posts/index.html.erb */

.card-title {
  color: #B5838D; /* Warm Dusty Rose */
}

#search_form {
  background-color: #0A192F !important;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  border-radius: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-label {
  font-size: 18px;
  color: white;
  border-radius: 15px;
}

.search-input {
  flex-grow: 2;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.search-button,
.clear-button {
  flex-grow: 1;
  padding: 8px 15px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input {
    width: 100%;
  }

  .search-button, .clear-button {
    width: 100%;
    margin-top: 10px;
  }
}
