<style>
	.json-input {
	  font-family: monospace;
	  background-color: #f7f7f7;
	  border: 1px solid #ccc;
	  padding: 10px;
	  white-space: pre;
	}
</style>

<h1>Edit Fraud Simulator</h1>
<%= render 'form', fraud_simulator: @fraud_simulator %>
<%= link_to 'Back', fraud_simulators_path %>
