
<header class="container text-center my-5">
    <h1>Fraud Simulator Cases</h1>

    <% if current_user && current_user.admin? %>
        <%= link_to 'New Fraud Simulator', new_fraud_simulator_path, class: 'btn btn-primary' %>
    <% end %>

    <p class="lead">Select a case below.</p>
    <p class-"lead" style="font-size: 14px;">
        Choose a real-life fraud case and test your decision-making in interactive scam simulations.
    </p>
</header>

<div class="container py-5">
  <div class="row g-4"> <!-- Bootstrap grid with spacing -->
    <% @fraud_simulators.each do |simulator| %>
      <div class="col-md-4">
        <div class="card p-4">
          <h3 class="card-title"><b><%= simulator.title %></b></h3>
          <p class="card-description">
			<%= truncate(simulator.excerpt, length: 150, omission: '...') %>
          </p>
          <%= link_to 'Read More', fraud_simulator_path(simulator.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
